<div class="proposal__overview" id="proposal__overview">

  <div class="row">
    <div class="column">
      <h2><%= present(@proposal).title_if_enabled %></h2>

      <div class="amendments">
        <h3 class="section-heading">
          <%= @proposal.amendments.size %> <%= Decidim::Amendment.model_name.human(count: @proposal.amendments.size) %>
        </h3>

        <% @proposal.amendments.order(created_at: :desc).each do |amendment| %>
          <%= cell("decidim/proposals/amendment", amendment) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= cell("decidim/proposals/comments", @proposal) %>
  </div>
</div>
