<h2>
  <%= translated_attribute(@proposal.title) %>
</h2>

<%= link_to proposal_path(@proposal) do %>
  Visit details
<% end %>

<h3>Amendments (<%= @proposal.amendments.size %>) </h3>

<%#= amendments_for @proposal %>

<% @proposal.amendments.order(created_at: :desc).limit(2).each do |amendment| %>
  <%= cell('decidim/proposals/amendment', amendment) %>
<% end %>

<h3>
  Comments (<%= @proposal.comments.size %>)
</h3>

<%= comments_for(@proposal) %>
<%= yield :expanded %>

