<%= render partial: "decidim/shared/component_announcement" %>

<div class="row view-header">
  <div class="column medium-8">
    <h2 class="heading2"><%= render_participatory_text_title(@participatory_text) %></h2>

    <%= render partial: "decidim/proposals/proposals/participatory_texts/view_index" %>

    <div class="row columns" id="proposals">
      <% @proposals.each do |proposal| %>
        <%= cell("decidim/proposals/participatory_text_proposal", proposal, context: { current_user: current_user }) %>
      <% end %>
    </div>
  </div>

  <div class="column medium-4 pull-right">
    <% if local_assigns[:proposal].presence %>
      <%= render partial: "decidim/proposals/proposals/participatory_texts/sidebar", locals: { proposal: proposal } %>
    <% end %>
  </div>
</div>
